# Regression: Predict 5 year returns on an MF

## Read Data

In [10]:
import numpy as np
import pandas as pd
xlsx = pd.ExcelFile('./MutualFunds.xlsx')
xlsx.sheet_names

['Data', 'Sheet2', 'Sheet3']

In [3]:
data = xlsx.parse('Data')

In [6]:
data.head(n = 10) #value of n is 5, by default

,Fund Name,Fund Type,Net Asset Value ($),5 Year Average Return (%),Expense Ratio (%),Morningstar Rank
0,Amer Cent Inc & Growth Inv,DE,28.88,12.39,0.67,2-Star
1,American Century Intl. Disc,IE,14.37,30.53,1.41,3-Star
2,American Century Tax-Free Bond,FI,10.73,3.34,0.49,4-Star
3,American Century Ultra,DE,24.94,10.88,0.99,3-Star
4,Ariel,DE,46.39,11.32,1.03,2-Star
5,Artisan Intl Val,IE,25.52,24.95,1.23,3-Star
6,Artisan Small Cap,DE,16.92,15.67,1.18,3-Star
7,Baron Asset,DE,50.67,16.77,1.31,5-Star
8,Brandywine,DE,36.58,18.14,1.08,4-Star
9,Brown Cap Small,DE,35.73,15.85,1.20,4-Star

## Data Exploration

In [8]:
data.isnull().sum()

Fund Name                    0
Fund Type                    0
Net Asset Value ($)          0
5 Year Average Return (%)    0
Expense Ratio (%)            0
Morningstar Rank             0
dtype: int64

### Usage of isnull().sum()

In [11]:
# It counts the number of NaN values (null values) in the given DataFrame
s = pd.Series([1, 2, 3, np.nan, np.nan])
s.isnull().sum()

2

In [13]:
# It also works for multiple columns
df = pd.DataFrame({'a':[1,2,np.nan], 'b':[np.nan,1,np.nan]})
df.isnull().sum()

a    1
b    2
dtype: int64